/* src/styles/icons.css */
/* This file is imported into the 'base' cascade layer in index.css */

.material-symbols-outlined, .material-symbols-rounded {
  font-family: 'Material Symbols Rounded', sans-serif;
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 20;
  vertical-align: middle;
  font-size: 20px;
}

.material-symbols-outlined.outlined {
    font-family: 'Material Symbols Outlined', sans-serif;
}