/* src/components/RadioGroup.module.css */
.radioGroupRoot {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.radioGroupItemWrapper {
  display: flex;
  align-items: center;
  gap: var(--spacing-3);
  cursor: pointer;
}

.radioGroupItem {
  all: unset;
  background-color: var(--surface-bg-primary);
  width: 18px;
  height: 18px;
  border-radius: 100%;
  border: 1px solid var(--surface-border-primary);
  box-shadow: var(--surface-shadow-sm);
  transition: border-color 0.2s, box-shadow 0.2s;
  flex-shrink: 0;
}

.radioGroupItemWrapper:hover .radioGroupItem {
  border-color: var(--surface-border-theme);
}

.radioGroupItem:focus-visible {
  border-color: var(--surface-border-theme);
  box-shadow: 0 0 0 2px var(--control-focus-ring-standard);
}

.radioGroupIndicator {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: relative;
}

.radioGroupIndicator::after {
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--primitives-theme-700);
}

.label {
  color: var(--surface-fg-primary);
  font-size: 0.9em;
  font-weight: 500;
  line-height: 1.4;
  user-select: text;
}