/* src/features/AppHeader/AppHeader.module.css */
.appHeader {
  flex-shrink: 0;
  height: 60px;
  background-color: var(--surface-bg-primary);
  border-bottom: 1px solid var(--surface-border-secondary);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--spacing-4);
  user-select: none;
}

.left, .center, .right {
  display: flex;
  align-items: center;
  gap: var(--spacing-2);
}

.left { flex: 1; justify-content: flex-start; }
.center { justify-content: center; height: 100%; }
.right { flex: 1; justify-content: flex-end; }


.appHeader h3 {
  font-size: 1.1em;
  font-weight: 600;
  margin: 0;
  color: var(--surface-fg-primary);
}

.settingsMenu {
  padding: var(--spacing-2);
  width: 240px;
}

.menuItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--spacing-2);
  font-size: 0.9em;
  color: var(--surface-fg-primary);
}

.menuDivider {
  height: 1px;
  background-color: var(--surface-border-secondary);
  margin: var(--spacing-1);
}